body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 10px;
    
}

.character {
    display: flex;
    align-items: center;
    margin: 10x; 
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    flex-direction: column;
}


.character img {
    width: 100px;
    height: 100px;
}

.character1 {
    grid-column: span 2;
    background-color: crimson;
    border: black solid 3px;
}

.character4 {
    grid-column: span 2;
    grid-row: 2 / 3;
    background-color: navy;
    border: black solid 3px;
}

.character2{
    grid-column: span 3 ;
    grid-row: 3;
    background-color: greenyellow;
    border: black solid 3px;
}

.character3{
    background-color: aquamarine;
    border: black solid 3px;
}

.character5 {
    grid-column: 4;
    grid-row: span 2;
    background-color: burlywood;
    border: black solid 3px;
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .character {
        flex-direction: column;
        align-items: center;
    }

    .character1, .character2, .character3, .character4 {
        grid-column: span 1;
        grid-row: auto;
    }

    .character5 {
        grid-column: span 2;
        flex-direction: row;
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .character {
        flex-direction: row;
    }

    .character5 {
        flex-direction: row;
    }


    
}
.des{
   
    line-height: 1.5;
    text-align: justify;
    font-size: larger;
}

.name{
   font-size: 2rem;

}